html{
    background-color:black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}
table{
    caption-side:top;
}
td{
    text-align: center;
}

.expenditure-colgroup{
    background-color: blue;
}